---

---
<nav class="bg-[rgb(110,70,143)] py-4">
    <div class="container mx-auto flex items-center justify-between relative">
      <!-- Logo -->
      <div class="flex items-center space-x-2 w-40 h-15">
        <img src="/src/assets/FRomHomeLogo.png" alt="Logo" class="w-25 h-22 object-contain" />
    
      </div>
  
      <!-- Menu Links -->
      <div class="flex space-x-8">
        <a href="#" class="text-white hover:text-gray-300 transition">Inicio</a>
        <a href="#" class="text-white hover:text-gray-300 transition">Idiomas</a>
        <a href="#" class="text-white hover:text-gray-300 transition">Servicios</a>
        <a href="#" class="text-white hover:text-gray-300 transition">Nosotros</a>
      </div>
    </div>
  </nav>