---

---
<header>
        <nav>
            <a href="#" class="text-gray-600 hover:text-blue-600"> Inicio</a>
            <a href="#" class="hover:text-pink-600"> Idiomas </a>
            <a href="#" class=""> Servicios </a>
            <a href="#" class=""> Nosotros</a>
        </nav>
</header>
   
