---
const studentCount = "2,500";
---

<section class="">
    <div class="mx-auto max-w-7xl px-4 py-24 sm:px-6 lg:px-8">

        <div class="flex items-center justify-center gap-2 mb-2">
            <div class="inline-flex items-center px-4 py-1.5 rounded-full">
                <p class="text-md font-light bg-gradient-to-r from-purple-500 via-amber-500 to-purple-500 text-transparent bg-clip-text">
                    FromHomeAcademy
                </p>
            </div>
        </div>

        <div class="text-center max-w-5xl mx-auto">
            <h1 class="text-8xl font-bold mb-6 leading-tight bg-gradient-to-r from-purple-500 via-amber-500 to-purple-500 text-transparent bg-clip-text">
                Master English with
                <br /> 
                real-world practice
            </h1>
            
            <p class="text-gray-400 text-xl mb-8">
                Learn English that matters - for job interviews, travel, business,
                <br />
                and daily life. No textbook English, just practical skills.
            </p>

            <div class="flex items-center justify-center gap-4">
                <a 
                    href="#" 
                    class="px-6 py-3 bg-purple-900 text-white rounded-lg hover:bg-purple-700 transition-colors"
                >
                    Start Free Trial
                </a>
                <a 
                    href="#" 
                    class="px-6 py-3 text-purple-800 bg-transparent border border-purple-700 rounded-lg hover:bg-purple-900 hover:text-white transition-colors"
                >
                    Demo Class
                </a>
            </div>
        </div>

        <div class="mt-20">
            <div class="flex justify-center items-center gap-12 opacity-50">
                <a href="">English</a>
                <a href="">Korean</a>
                <a href="">Spanish</a>
                <a href="">Mandarin</a>
                <a href="">Japanese</a>
                <a href="">French</a>
                <a href="">German</a>
                <a href="">Italian</a>
            </div>
        </div>
    </div>
</section>